.board {
    display: flex;
    width: fit-content;
  }
  
  .column {
    background: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
  }
  
  .column-header {
    font-weight: bold;
    padding: 10px;
    background: #eaeaea;
    border-bottom: 1px solid #ccc;
  }
  
  .group{
    padding: 1%;
  }